body{
    background-image: url("rfid.jpg");
}
div{
border: 1 px solid gray;
padding: 30px;
background-color: white;

}
h1{
text-align: center;
text-transform: uppercase;
font-size:xx-large;
font-family: 'Times New Roman', Times, serif;
color:white;
background-color:dimgray;
}
p{
    text-align: center;
    text-transform: uppercase;
    font-size:large;
}
form{
    text-align: center;
}
